.navbar-container {
    margin: 15px auto;
    max-width: 1180px;
}

.material-icons {
    font-size: 32px;
    color: #bd0610;
}

.avatar {
    border-radius:15px; 
    height:35px; 
    width:35px;
}