<div class="photo-grid">
    <figure *ngFor="let photo of photos" class="grid-figure">
        <mat-card class="mat-elevation-z4">
            <img mat-card-image src={{photo.display_src}} alt={{photo.caption}}/>
            <mat-card-actions align="end">
                <button mat-stroked-button class="button">
                    <span class="material-icons">thumb_up</span>&nbsp;{{photo.likes}}
                </button> 
                <button mat-stroked-button class="button">
                    <span class="material-icons">thumb_down</span>&nbsp;{{photo.boos}}
                </button>
            </mat-card-actions>
            <mat-card-content class="photo-caption">
                <p>{{photo.caption}}</p>
            </mat-card-content>
        </mat-card>
    </figure>
</div>